.hasnt-account-field {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1.5) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1.5) * calc(1 - var(--tw-space-y-reverse)));
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--spacing) * 1);
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
      p {
        color: var(--color-zinc-600);
      }
    }
  }